@model dynamic

@{
    ViewBag.Title = "TPL and async/await code samples";
}

<p>Output: @(ViewBag.Output ?? "n/a")</p>

<p>@Html.ActionLink("Deadlock", "Index", "Deadlock")</p>
<p>@Html.ActionLink("Deadlock fixed", "Index", "DeadlockFixed")</p>
<p>@Html.ActionLink("Aynsc not so parallel", "Index", "AynscNotParallel")</p>
<p>@Html.ActionLink("Aynsc parallel", "Index", "AynscParallel")</p>
<p>@Html.ActionLink("Fail early, fail loudly", "Index", "FailEarlyFailLoudly")</p>
<p>@Html.ActionLink("Successful context access", "Index", "SuccessfulContextAccess")</p>
