@model dynamic

@{
    ViewBag.Title = "TPL and async/await code samples";
}

<p>Output: @(ViewBag.Output ?? "n/a")</p>

<p>@Html.ActionLink("Deadlock", "Index", "Deadlock")</p>
<p>@Html.ActionLink("Deadlock fixed using .ConfigureAwait(continueOnCapturedContext: false)", "Index", "DeadLockFixedNoCapture")</p>
<p>@Html.ActionLink("Deadlock fixed using ThreadPool technique", "Index", "DeadLockFixedThreadPool")</p>
<p>@Html.ActionLink("Aynsc not so concurrent", "Index", "AsyncNotConcurrent")</p>
<p>@Html.ActionLink("Aynsc concurrent", "Index", "AsyncConcurrent")</p>
<p>@Html.ActionLink("Fail early, fail loudly", "Index", "FailEarlyFailLoudly")</p>
<p>@Html.ActionLink("Successful context access", "Index", "SuccessfulContextAccess")</p>
